name: Specs

on:
  push:

jobs:
  spec:

    runs-on: ubuntu-latest
    steps:
    - name: Install packages
      run: sudo apt-get update && sudo apt-get install --no-install-recommends -y libjemalloc2
    - uses: actions/checkout@v6
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Unpack test repo
      run: cd spec/fixtures && tar -zxf test.git.tar.gz
    - name: Run tests
      run: bundle exec rspec
